@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); */

html, body {
  height: 100%;
  width: 100%;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Open Sans', sans-serif !important;
  color: #222;
}

.logo {
  width: 25%;
  height: 25%;
  /* padding-left: .5rem; */
}

.active a, .subscription, .orange {
  color: rgb(255, 123, 0) !important;
}

#active {
  color: rgb(255, 123, 0) !important;
}

/* navbar */

.navbar-brand {
  font-size: 150%;
}
/*
.navbar {
  padding: .1rem; 
}
*/

.navbar-nav li {
  padding-right: 10px;
}

.nav-link {
  font-size: 1.1em !important;
}

/* carousel */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

/* buttons */

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

/* jumbotron */

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

/* padding */

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.eight-five {
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
}

.eight-five hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.row hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* three column section */

.fa-desktop{
  color:#e54d26;
  font-size: 3.5em;
  margin: 1.8rem;
}

.fa-laptop{
  color:#563d7c;
  font-size: 3.5em;
  margin: 1.8rem;
}

#three-columns .fa-phone{
  color:#2163af;
  font-size: 3.5em;
  margin: 1.8rem;
}

/* social */

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-facebook:hover {
  color: #d5d5d5;
}

/* text font size */

.text {
  font-size: 130%;
}

/* misc */

.prizes, .tv, .sub-check {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.w-85 {
  width: 85%;
}

.w-65 {
  width: 65%;
}

.big {
  font-size: 1000%;
  color: rgb(255, 123, 0)
}

/* footer */

footer {
  background-color: #313131;
  color: #e9e9e9;
  padding-top: .5rem;
}

hr.light {
  border-top: 1px solid #e9e9e9;
  width: 85%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #e9e9e9
}

hr.light-100{
  border-top: 1px solid #e9e9e9;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* images  */

#web-design, #software-support, #message-sent {
  width: 50%; 
  height: 50%;
}

#message-sent {
  width: 30%; 
  height: 30%;
}

/* custom margins for images */

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-lr {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* contact form */

form label {
  font-size: 1.2em;
  display: block;
  padding: 10px 0;
}
 
form input#name,
form input#email,
form input#subject {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#submit {
  border:1px solid #d8d8d8; 
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

#pdf {
  min-width: 85%;
  min-height: 1000px;
}

/* spans and bars, colors */

.spanTwo, .spanFour {
  color: rgb(116, 114, 114);
}

.spanOne, .spanThree {
  color: rgb(255, 123, 0);
}

#bars {
  color: rgb(255, 123, 0);
}

.price-mini, .plan-mini {
  font-size: 130%;
  color:red;
}

.price-standard, .plan-standard {
  font-size: 130%;
  color:green;
}

.price-ultra {
  font-size: 130%;
  color:blue;
}

.internet-mini{
  color: red;
  text-shadow: 1px 1px 1px gray;
  font-size: 130%;
}

.internet-standard {
  color: green; 
  text-shadow: 1px 1px 1px gray;
  font-size: 130%;
}

.internet-ultra {
  color: blue;
  text-shadow: 1px 1px 1px gray;
  font-size: 130%;
  width: 125px;
}

.ultra-misc {
  color: blue;
  font-size: 110%;
}

.standart-misc{
  color: green;
  font-size: 110%;
}

.mini-misc{
  color: red;
  font-size: 110%;
}

/*---Media Queries --*/

@media (max-width: 992px) { 
  .spanOne, .spanTwo, .spanThree, .spanFour {
    font-size: 120%;
  }
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  .logo {
    width: 23%;
    height: 23%;
    /* padding-left: .5rem; */
  }
}

@media (max-width: 768px) {
  .nav-item, .dropdown-item {
    font-size: 100%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    /* padding-bottom: .2rem; */
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .carousel-caption {
    top: 45%;
  }
  .spanOne, .spanTwo, .spanThree, .spanFour {
    font-size: 90%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .display-4 {
    font-size: 200%;
  }
  .logo {
    width: 20%;
    height: 20%;
    /* padding-left: .5rem; */
  }
}

@media (max-width: 576px) {
  /*.carousel-indicators {*/
    /* display: none; */
    /* visibility: hidden; */
  /*}  */
  #slides .btn-lg {
    visibility: hidden;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-caption {
    top: 36%;
  }
  .first-caption {
    top: 44%;
  }
  .nav-item, .dropdown-item {
    font-size: 95%;
  }
  .spanOne, .spanTwo, .spanThree, .spanFour {
    font-size: 75%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  .display-4 {
    font-size: 160%;
  }
  .logo {
    width: 15%;
    height: 15%;
    /* padding-left: .5rem; */
  }

  @media (max-width: 320px) {
    #slides .btn-lg {
      visibility: hidden;
    }
    .carousel-indicators {
      /* display: none; */
      visibility: hidden;
    }  
    .logo {
      width: 13%;
      height: 13%;
    }
    .carousel-caption {
      top: 32%;
    }
    .first-caption {
      top: 40%;
    }
    .nav-item, .dropdown-item {
      font-size: 90%;
    }
    .spanOne, .spanTwo, .spanThree, .spanFour {
      font-size: 70%;
    }
    .social a {
      font-size: 1.9em;
      padding: .5rem;
    }
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
