{% set active_page = "software_support" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: 404 - страницата не беше намерена
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">404 - страницата не беше намерена</h1><hr>
	</div>
	<div class="col-12">
		<div>
		<p class="big">404</p><br><br>
<h3>Страницата не беше намерена</h4>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}