{% set active_page = "cabling" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Структорно окабеляване
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Структорно окабеляване</h1>
		<hr><br>
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_strukturno1.png') }}">
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_patch-cable.png') }}">
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_strukturno2.png') }}">
		<br>
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
			Занимаваме се и със структорно окабеляване.
		</p>
		<br>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}