{% set active_page = "career" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Кариера
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Кариера</h1>
		<hr><br>
		<img class="image margin-bottom " src="{{ url_for('static', filename='img/s2_people.png') }}">
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
		В Атлантис Нет следваме разбирането, че хората са ключът към по-успешния бизнес и затова смятаме, че добрият професионален екип е нашия най-ценен капитал. Точно затова прилагаме, развиваме и споделяме утвърдени и съвременни практики в управлението на човешките ресурси в нашата компания и в телекомуникационния сектор, като създаваме условия на работа, които се основават на принципите на обективност, справедливост, прозрачност и равнопоставеност.
		</p><p>
		Ние предлагаме работа за млади и ерудирани хора, мотивирани да се справят с предизвикателствата на съвременния бизнес, с добро възнаграждение, и винаги с възможност за професионално развитие.
		</p><p>
		Ако проявявате интерес към предлаганите свободни позиции, моля изпратете автобиография и мотивационно писмо на адрес: <strong>support@atlantisnet.bg</strong></p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}