{% set active_page = "cctv" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: СОТ, видеонаблюдение
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">СОТ, видеонаблюдение</h1>
		<hr><br>
		<img class="image margin-bottom" src="{{ url_for('static', filename='img/s4_4daec18141e8a8d05e0d203b1678d7bd.jpg') }}">
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
		Гарантирането на сигурността на Вашия дом, офис, склад, производствено помещение или дори земеделска земя е задачата на новите услуги на Атлантис Нет ООД в областта на проектирането и инсталирането на сигнално-охранителните и видеонаблюдателни системи.
		</p><p>
		Многократно увеличения капацитет и качество на опорната ни мрежа за пренос на данни ни позволи да предложим сигурни и разнообразни решения за сигурност и управление на дома базирани на Ethernet платформата на фирмата ELDES с IP кабелни и безжични датчици, контролери и алармени системи.
		</p><p>
		В допълнение с видеонаблюдателните решения с IP камерите на реномираните световни производители Axis, ACTi и HiSilicon, Атлантис Нет Ви предлага цялостно решение за сигурност, управление и контрол на дома и офиса от най-ново поколение. </p>
		<p>
		<strong>Свържете се с нас</strong>, за да обсъдим и предложим най-ефективното решение, конкретно за Вашите нужди и изисквания.</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}