
{% set active_page = "contacts" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Контакти
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Контакти</h1><hr>
	</div>
		<div class="col-12">
		<div class="career">
			<p>
			Ще ни намерите на адрес:
			</p><p>
			Ботевград - офис, <b>пл. Незнаен войн 7, Бизнес Център, офис 5</b>
			</p><p>
			Ботевград - каса, <b>комплекс "Форум", магазин Атлантис Център</b>
			</p><p>
			Правец - каса, <b>бул. Трети март 24, Атлантис Център</b>, тел. <b>07133 / 5333</b>
			</p><p>
			Етрополе - каса, <b>бул. Г. Димитров 2, Атлантис Център</b>, тел.<b>0720 / 93333</b>
			</p><p>
			Телефони: <b>0723/93300</b>, <b>0723/93311</b> и на национален номер: <b>0700/45333</b>
			</p><p>
			Мобилни: <b>0888/001177</b> - Теленор/Глобул, <b>0899/001177</b> - A1/М-тел
			</p><p>
			Е-mail: <b>support@atlantisnet.bg</b>
			</p><p>Не се колебайте да се свържете с нас, ако имате въпроси, предложения, критики или забележки.
			</p><p>Вашето мнение е много важно за нас и затова Ви благодарим предварително за отделеното време и усилие.
			<br><br>
			<h2>Връзка с нас</h2>
				<br>
			{% for message in form.name.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			
			{% for message in form.email.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			
			{% for message in form.subject.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			
			{% for message in form.message.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}

			<form action="{{ url_for('contacts') }}" method=post>
				{{ form.hidden_tag() }}

				<div class="d-flex justify-content-center">{{ form.name.label }}</div>

				<div class="d-flex justify-content-center">{{ form.name }}</div>
			
				<div class="d-flex justify-content-center">{{ form.email.label }}</div>
				<div class="d-flex justify-content-center">{{ form.email }}</div>
			
				<div class="d-flex justify-content-center">{{ form.subject.label }}</div>
				<div class="d-flex justify-content-center">{{ form.subject }}</div>
			
				<div class="d-flex justify-content-center">{{ form.message.label }}</div>
				<div class="d-flex justify-content-center">{{ form.message }}</div>
			<br>
				<div class="d-flex justify-content-center">{{ form.submit }}</div>
			</form>
		</div>
		</div>
</div>
</div>
</div>

{% endblock %}



