{% set active_page = "history" %}

{% extends "layout.html" %}

{% block title %}
    Atlantis Net :: История, мисия и цели
{% endblock %}

{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">История, мисия и цели на Атлантис Нет ООД</h1>
		<hr>
	</div>
	<div class="col-12">
		<div class="text">
		<p><h2>История</h2></p>
		<br>
		<p>
		Атлантис Нет ООД е съдадена през 2003 г., но Интернет достъп се предлага още от 1999 г. (посредством Атлантис Трейдинг ООД) като изградихме директна връзка до София с наета линия от БТК, която развиваше скорости от 28,8 kbps!
		</p>
		<p>
		Впоследствие започнахме да предлагаме dial-up услуги, въведохме в експлоатация високоскоростен сателитен канал през Europe Online, изградихме първата безжична връзка до София с капацитет 1.6 Mbps с модули на фирма Proxim (USA)!
		</p>
		<p>
		Успоредно с това започнахме да въвеждаме в експлоатация високоскоростна безжична мрежа в Ботевград, изградихме безжично трасе до гр. Правец, в последствие и до гр. Етрополе
		</p>
		<p>
		През 2004 г. започнахме изграждането на собствени кабелни мрежи за достъп до Интернет, а скоро след това и високоскоростни безжични връзки до Ябланица и Тетевен, където започнахме изграждането и на кабелни и безжични мрежи.
		</p>
		<p>
		През 2005 г. въведохме в експлоатация професионална радиорелейна система с капацитет STM-1 (155 Mbps) с устройства на NERA Systems (Норвегия) и инвестирахме в няколко модерни климатизирани технически центрове с първокласно мрежово оборудване на Cisco System и HP с мощни UPS системи.
		</p>
		<p>
		През 2006 започнахме изграждането и на оптични трасета, с които многократно повишихме надеждността и качеството на кабелните ни мрежи. В момента имаме такива мрежи в Ботевград, Правец, Етрополе, Тетевен и Ябланица, както и в селата Врачеш, Трудовец, Скравена.
		</p>
		<p>
		През 2008 въведохме в употреба оптичен канал до София с капацитет 2 x 1Gbit/s и на практика гарантирахме непрекъсваемостта на Интернет канала ни.
		</p>
		<p>
		През 2009 предложихме изгодна Телефонна услуга на нашите клиенти в сътрудничество с националния оператор Ай Ти Ди Нетуърк.
		</p>
		<p>
		През 2010 изградихме 2х10 Gbit/s връзка до опорната БГ мрежа.
		</p>
		<p><br>
		<p><h2>Мисия</h2></p>
		</p><br>
		<p>
		Винаги сме предлагали атрактивни цени за всички наши услуги, като сме подобрявали условията многократно и то веднага след като имаме техническа възможност.
		</p>
		<p>
		Винаги сме се стремяли да сме стъпка напред в сравнение с конкурентните услуги и явно досега успяваме, след като пазарният ни дял е лидиращ във всички региони на присъствие.
		<p>Години наред реинвестираме непрекъснато за да можем да достигнем едно ниво на обслужване на нашите клиенти, което да отговаря на европейските стандарти за качество, същевремнно съобразено с реалните покупателни възможности в България.
		</p>
		<p>Убедени сме, че допринасяме за развитието на едно модерно информационно общество от хора от всички прослойки на обществото, защото правим всичко възможно <b>за да има Интернет във всеки дом – бърз, качествен и достъпен</b>.</p>
		<p>Защото това е нашата мисия, която следваме и ще следваме.</p>
		</p><br>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}