{% set active_page = "hosting" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Хостинг
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Хостинг</h1><hr>
		<br><img class="people" src="{{ url_for('static', filename='img/s4_server_1.png') }}"><br><br>
	</div>
	<div class="col-12">
		<div class="hosting">
		<p>
		Атлантис Нет ООД предлага качествени хостинг услуги, на цени, които можете да си позволите. Ние разполагаме с мощни сървъри и система за денонощен мониторинг, както и високо квалифициран екип, за да гарантираме, че уеб-присъствието на нашите клиенти в глоблната мрежа е напълно подсигурено и стабилно.</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}



