{% set active_page = "interfaces" %}

{% extends "layout.html" %}

{% block title %}
    Atlantis Net :: Интерфейси за достъп 
{% endblock %}

{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Интерфейси за достъп</h1><hr>
	</div>
	<div class="col-12">
		<div class="interf" style="font-size:130%;">
            <p>
            Технически характеристики и изисквания към интерфейсите за свързване на крайните далекосъобщителни устройства към обществената далекосъобщителна мрежа на Атлантис Нет ООД
            <p>
            <strong>1. Резюме</strong></p>

            <p>Описани са накратко техническите характеристики на Ethernet тип интерфейсите и Телефонните интерфейси, който се използват за осъществяване на свързаност на крайни далекосъобщителни устройства към мрежата на Атлантис Нет ООД

            <p><strong>2. Цел</strong></p>

            <p>Предоставената информация има за цел да улесни използването и проектирането на крайни устройства и работната и функционална съвместимост с далекосъобщителната мрежа на Атлантис Нет.

            <p><strong>3. Общо описание</strong></p>

            <p><strong>3.1. Интерфейси за Интернет достъп</strong></p>

            <p>Ethernet интерфейсът покрива група мрежови приложения, която се основава на стандартизирания мрежов стандарт, дефиниран в IEEE 802.3 и публикуван от Institute of Electronic and Engineers. Този интерфейс се използва за установяване на свързаността, чрез който крайния потребител може да има достъп до Интернет базираните услуги, предлагани в далекосъобщителната мрежа за пренос на данни на Атлантис Нет.

            <p><strong>3.1.1 Медна преносна среда</strong></p>

            <p>Интерфейсите, които осъществяват тази свързаност на 10/100 Mbps могат да работят в half или full duplex режим.</p>

            <p>Един и същи интерфейс се използва за комуникация посредством стандарт 10Base-T (съгласно регламентациите на IEEE 802.3) и 100Base-Tx (съгласно регламентациите на IEEE 802.3u), както и при използването на стандарт 1000Base-T (IEEE 802.3ab). Предаваните пакети следва да отговарят на нормите описани в IEEE 802.3.</p>

            <p>1000BASE-T е гигабитов Ethernet стандарт, използващ медна преносна среда. В съответствие е с IEEE 802.3ab стандарта.</p>

            <p>Описаните по-горе интерфейси за връзка се осъществява посредством конектор RJ45 (женски или мъжки), в съответствие със стандартите на TIA/EIA-568-B.</p>

            <p><strong>3.1.2. Оптична преносна среда</strong></p>

            <p>1000BASE LH/LX GBIC (Gigabit Interface Converter), следва да са съвместими с IEEE 802.3z стандарта.
            1000BASE-BX-D и 1000BASE-BX-U Single LC/PC конектор, следва да са съвместими с IEEE 802.3ah стандарта.

            <p><strong>3.1.3. Интерфейси за безжичен достъп</strong></p>

            <p>Безжичното оборудване използвано за достъп в мрежата на Атлантис Нет отговаря на стандарта IEEE 802.11 в разновидностите му 802.11а, 802.11b, 802.11g, 802.11n и аутентификационен протокол WEP.

            <p>Стандарт за отдалечено захранване, отговарящ на  IEEE 802.3af-2003.

            <p><strong>3.1.4. Допълнителни бележки</strong></p>

            <p>Логическите интерфейси за връзка са:  Internet Protocol, Dynamic Host Configuration Protocol по RFC 791, RFC 2132. Vlan пакети от типа IEEE 802.1Q могат да бъдат пренасяни прозрачно или администрирани автоматично или ръчно.  Използваните комутаторни Ethernet крайни устройства трябва да разполагат с динамична таблица за MAC адреси с поне 2К записи.

            <p><strong>3.2. Интерфейси за телефония</strong></p>
            
            <p><strong>3.2.1. Аналогов телефонен интерфейс (POTS):</strong></p>

            <p>Отговаря на стандарта на ETSI: ETSI EG 201 188 V1.2.1 (2000-01).
            Тип на конектора RJ-11.

            <p><strong>3.2.2. ISDN (BRI) Basic rate:</strong></p>

            <p>Отговаря на изискванията на стандартите на ETSI: ETSI EN 300 402, ETSI EN 300 402.
            Физически интерфейс по стандарт на ETSI: ETSI EN 300 012-1
            Тип на конектора RJ-45.

            <p><strong>3.2.3. ISDN (PRI) Primary rate:</strong></p>

            <p>Отговаря на изискванията на стандарта на ETSI: ETSI EN 300 403.
            Тип на физическия интерфейс ITU-T G.703 балансиран 120 Ом или небалансиран 75 Ом.
            <p>Тип на конектора RJ-45 или BNC.

            <p><strong>3.2.4. IP Trunk SIP (Session Initiation Protocol):</strong></p>

            <p>IP trunk по протокол SIP v2 (Session Initiation Protocol version 2, RFC 3261).
            Поддържани кодеци: G.711U, G.711А, G.729
            DTMF relay: RFC2833 (RTP-NTE)
            Физически интерфейс: 100BaseTX Ethernet по стандарт 802.3u.</p>

            <p><strong>3.2.5. IP Trunk H.323:</strong>

            <p>IP trunk по протокол на ITU H.323v4.
            Поддържани кодеци: G.711U, G.711А, G.729
            DTMF relay: RFC2833 (RTP-NTE)
            Физически интерфейс: 100BaseTX Ethernet по стандарт 802.3u.</p>

            <p><strong>4. Електромагнитна съвместимост на интерфейсите</strong></p>

            <p>Използваното мрежово оборудване, свързано с пускането в експлоатация на гореизброените интерфейси, отговаря на текущите регулации за електромагнитна съвместимост.</p>

            <p>• БДС EN 55022  (CISPR 22) – електромагнитни смущения
            • БДС EN 50082-1 (IEC801-2, IEC801-3, IEC801-4) – електромагнитни шумоустойчивост
            • БДС EN 60950 (IEC950) –  безопасност
            </p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}