{% set active_page = "lan_access" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: LAN свързаност
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
        <h1 class="display-4">Кабелен LAN достъп</h1>
        <hr><br>
        <img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_plugin.png') }}">
        <img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_switches.png') }}">
        <img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_server.png') }}">
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
		Още през 2002 г. започнахме изграждането на малки ЛАН мрежи, до които изграждахме високоскоростни безжични връзки. Постепенно кабелният LAN (Local Area Network) достъп стана най-популярната ни услуга, а кабелните ни мрежи се разрастваха с бурни темпове. В момента имаме почти пълно покритие за кабелен ЛАН достъп в градовете Ботевград, Правец, Етрополе, Ябланица, Тетевен и селата Врачеш, Трудовец, Скравена, Литаково и Разлив, като в останалите населени места, където предлагаме Интернет услугите си имаме изградени мрежи с разширено покритие или сме в процес на изграждане на такова.
        </p><p>
        За тези 5 години, кабелните ни ЛАН мрежи претърпяха сериозно развитие, за което бяха отделени значителни инвестиции във висококачествено мрежово оборудване, оптични и FTP кабели, системи за независимо и непрекъсваемо токозахранване и системи за защита от пренапрежение. Мрежите ни са изградени по всички индустриални и технологични стандарти, което позволява да се интегрират успешно услуги за пренос на данни, глас и видео. През 2003 г. получихме от КРС индивидуална лицензия за изграждане на далекосъобщителни мрежи за пренос на данни, която в началото на 200sad4 г. беше трансформирана в обща лицензия #217.
        </p><p>
        Основните предимства на кабелния ЛАН достъп, който Атлантис Нет предлага могат да бъдат обобщени така:
        </p><p>
        - без нужда от активна телефонна линия или кабелна телевsизия
        - не изисква скъпоструващо оборудване
        - високоскоростна връзка (до 100 Mbit/s)
        - ниска и постоянна латентност (около 1ms)
        - сигурен и надежден достъп по всяко време
        - без НИКАКВИ ограничения за локалната свързаност
        </p>
    </div>
	</div>
</div>
</div>
</div>

{% endblock %}