<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Description" content="Атлантис НЕТ ООД е специализиран доставчик на Интернет услуги и дейност, ориентирана към нуждите на широк спектър клиенти на територията на София град и общините Ботевград, Правец, Етрополе, Тетевен, Ябланица, Роман и Мездра." />
	<meta name="Keywords" content="Атлантис НЕТ, Атлантис НЕТ ООД, атлантис, Atlantis, Atlantis Net, интернет доставчик, интернет услуги, интернет, София, Ботевград, Правец, Етрополе, Тетевен, Ябланица, Роман, Мездра" />
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<a class="navbar-brand" href="{{ url_for('home') }}">
		
	<img class="logo" src="{{ url_for('static', filename='img/logo-sm.png') }}">&nbsp;
	<span class="spanOne">A</span><span class="spanTwo">tlantis</span>
	<span class="spanThree">N</span><span class="spanFour">et</span></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	  <i id="bars" class="fa fa-bars"></i>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
	  <ul class="navbar-nav ml-auto">
		<li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
			<a class="nav-link" href={{ url_for('home') }}>Начало</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">За нас</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'history' }}" href="{{ url_for('history') }}">История, мисия и цели</a>
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'career' }}" href="{{ url_for('career') }}">Кариера</a>
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'interfaces' }}" href="{{ url_for('interfaces') }}">Интерфейси за достъп</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'lan_access' }}" href="{{ url_for('lan_access') }}">Кабелен LAN достъп</a>
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'optical_connectivity' }}" href="{{ url_for('optical_connectivity') }}">Оптична свързаност</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'wireless_connectivity' }}" href="{{ url_for('wireless_connectivity') }}">Безжичен достъп</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'television' }}" href="{{ url_for('television') }}">Телевизия</a> 
			  <hr>
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'cabling' }}" href="{{ url_for('cabling') }}">Структурно окабеляване</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'software_support' }}" href="{{ url_for('software_support') }}">Софтуерна поддръжка и осигуряване</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'web_design' }}" href="{{ url_for('web_design') }}">Уеб дизайн</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'hosting' }}" href="{{ url_for('hosting') }}">Хостинг</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'cctv' }}" href="{{ url_for('cctv') }}">СОТ, видеонаблюдение</a> 
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Цени</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'prices_internet' }}" href="{{ url_for('prices_internet') }}">Интернет</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'prices_telephony' }}" href="{{ url_for('prices_telephony') }}">Телефония</a> 
			  <a class="dropdown-item" id="{{ 'active' if active_page == 'prices_trio_package' }}" href="{{ url_for('prices_trio_package') }}">Trio пакет</a> 
			</div>
		</li>
		<li class="nav-item {{ 'active' if active_page == 'subscription_check' }}">
			<a class="nav-link" href="{{ url_for('subscription_check') }}">Проверка на абонамент</a> 
		</li>
		<li class="nav-item {{ 'active' if active_page == 'promotions_bonus_points' }}">
			<a class="nav-link" href="{{ url_for('promotions_bonus_points') }}">Промоции и бонус точки</a> 
		</li>
		<li class="nav-item {{ 'active' if active_page == 'report_a_problem' }}">
			<a class="nav-link" href="{{ url_for('report_a_problem') }}">Съобщи за проблем</a> 
		</li>
		<li class="nav-item {{ 'active' if active_page == 'contacts' }}">
			<a class="nav-link" href="{{ url_for('contacts') }}">Контакти</a> 
		</li>
		<li class="nav-item {{ 'active' if active_page == 'terms_and_conditions' }}">
			<a class="nav-link" href="{{ url_for('terms_and_conditions') }}">Общи условия</a> 
		</li>
	  </ul>
	</div>
  </nav>

<!--- Main page -->

{% block body %}
{% endblock %}

<!-- Footer -->

<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-xl-2">
		<h5>Ботевград</h5>
		<hr class="light">
		<p>офис, пл. Незнаен войн 7, Бизнес Център, офис 5</p>
		<p>каса, комплекс "Форум", магазин Атлантис Център</p>
	</div>
	<div class="col-xl-2">
		<h5>Правец</h5>
		<hr class="light">
		<p>каса, бул. Трети март 24, Атлантис Център</p>
		<p>тел. 07133 / 5333</p>
	</div>
	<div class="col-xl-2">
		<h5>Етрополе</h5>
		<hr class="light">
		<p>каса, бул. Г. Димитров 2, Атлантис Център</p>
		<p>тел. 0720 / 93333</p>
	</div>
	<div class="col-xl-2">
		<h5>Телефони</h5>
		<hr class="light">
		<p>0723/93300</p>
		<p>0723/93311</p>
		<p>Национален номер:</p>
		<p>0700/45333</p>
	</div>
	<div class="col-xl-2">
		<h5>Мобилни</h5>
		<hr class="light">
		<p>Глобул/Теленор:</p>
		<p>0888/001177</p>
		<p>М-тел/A1:</p>
		<p>0899/001177</p>
	</div>
	<div class="col-xl-2">
		<h5>Е-mail</h5>
		<hr class="light">
		<p><a href="mailto:support@atlantisnet.bg">support@atlantisnet.bg</a></p>
	</div>
	
</div>
</div>
<div class="col-12 text-center padding">
	<hr class="light-100">
	<h5>&copy; 2020. Atlantis Net. Всички права запазени.</h5>
</div>

</footer>
<!-- scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>