{% set active_page = "prices_trio_package" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Пакет Trio цени
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Пакет Trio цени</h1><hr>
	</div>
	<div class="col-12">
		<table class="table" cellspacing="1">
<tbody>
<tr class="itemCell">
<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">МИНИ<br>Икономичен</span></td>
<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">СТАНДАРТ<br>Икономичен</span></td>
<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">УЛТРА<br>Икономичен</span></td>
</tr>
<tr class="itemCell">
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: top;">Скорост <span class="plan-mini fbold" style="font-size: 130%;">12 Mbit/s</span> <br> Безлимитен трафик             <br> Договор за 1 година                          <br><br>
<div><em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер                                  <br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга                 <br> вкл. 100 минути България, ЕС, САЩ и Канада                                  <br><br> <em class="fas fa-fw fa-tv">&nbsp;</em> Цифрова телевизия с 77+ програми</div>
</td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: top;">Скорост <span class="plan-standard fbold" style="font-size: 130%;">60 Mbit/s</span> <br> Безлимитен трафик             <br> Договор за 1 година                          <br><br>
<div><em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер                                  <br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга                 <br> вкл. 100 минути България, ЕС, САЩ и Канада                                  <br><br> <em class="fas fa-fw fa-tv">&nbsp;</em> Цифрова телевизия с 77+ програми</div>
</td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: top;">Скорост <span class="plan-ultra fbold" style="font-size: 130%;">100 Mbit/s</span> <br> Безлимитен трафик             <br> Договор за 1 година                          <br><br>
<div><em class="fas fa-fw fa-wifi"></em> Безжичен рутер                                  <br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга                 <br> вкл. 100 минути България, ЕС, САЩ и Канада                                  <br><br> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия с 77+ програми</div>
</td>
</tr>
<tr class="itemCell">
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>25.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>31.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>41.00 лв.</b></span><b> / месец</b></td>
</tr>
<tr class="itemCell">
<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">МИНИ<br>Разширен</span></td>
<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">СТАНДАРТ<br>Разширен</span></td>
<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">УЛТРА<br>Разширен</span></td>
</tr>
<tr class="itemCell">
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет             <br> 94+ програми                          <br></td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет             <br> 94+ програми                          <br></td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет             <br> 94+ програми                          <br></td>
</tr>
<tr class="itemCell">
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>30.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>36.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>46.00 лв.</b></span><b> / месец</b></td>
</tr>
<tr class="itemCell">
<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">МИНИ<br>Разширен + HD</span></td>
<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">СТАНДАРТ<br>Разширен + HD</span></td>
<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">УЛТРА<br>Разширен + HD</span></td>
</tr>
<tr class="itemCell">
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет и             <br> 17+ HD програми                          <br></td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет и             <br> 17+ HD програми                          <br></td>
<td class="listCell" style="font-size: 100%; max-width: 140px !important; vertical-align: center;"> <em class="fas fa-fw fa-tv"></em> Цифрова телевизия             <br> разширен пакет и             <br> 17+ HD програми                          <br></td>
</tr>
<tr class="itemCell">
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>33.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>39.00 лв.</b></span><b> / месец</b></td>
<td class="listCell fbold" style="font-size: 100%; max-width: 140px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>49.00 лв.</b></span><b> / месец</b></td>
</tr>
</tbody>
</table><hr class="light-100">
	</div>
</div>
</div>
</div>

<div class="container-fluid padding">
<div class="welcome text-center">
	<p>За да улесни потребителите при избора на подходяща услуга, <strong>Атлантис Нет</strong> поддържа висококвалифициран екип от консултанти, с които може да се свържете на телефони <strong>0723/93300</strong>, <strong>93311</strong>, <strong>93322</strong>, <strong>93333</strong> и <strong>0888/001177</strong>
	<p><strong>Важно!</strong> При услуга с рекламирани скорости като „максимално достижими” скорости на сваляне (download) и на качване (upload), в Mbit/s:</p>
	<p>Максимална скорост 95% от рекламираните скорости;</p>
	<p>Обичайно налична скорост 65% от рекламираните скорости;</p>
	<p>Минималната скорост 5% от рекламираните скорости.</p><br>
</div>
</div>

{% endblock %}