{% set active_page = "prices_internet" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Интернет цени
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="eight-five text-center">
	<div class="col-12">
		<h1 class="display-4">Интернет цени</h1><hr>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table" cellspacing="1">
				<tbody>
				<tr class="itemCell">
				<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">Пакет МИНИ</span></td>
				<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">МИНИ ЛАЙТ</span></td>
				<td class="planCell plan-background plan-background-mini fbold" style="width: 125px;"><span style="font-size: 130%; color: red; text-shadow: 1px 1px 1px gray;">МИНИ БОНУС+</span></td>
				</tr>
				<tr class="itemCell">
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;">Скорост <span class="plan-mini fbold" style="font-size: 130%;">12 Mbit/s</span> <br><br> Безлимитен трафик</td>
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;"><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга             <br> вкл. 100 минути към фиксирани БГ, фиксирани ЕС, всички номера в САЩ и Канада</td>
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;"><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга             <br> вкл. 100 минути към фиксирани БГ, фиксирани ЕС, всички номера в САЩ и Канада                          <br><br> <span class="plan-mini fbold"> + 2 безплатни месеца*                 <br> + бонус точки** </span></td>
				</tr>
				<tr class="itemCell">
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>20.00 лв.</span> / месец</b></td>
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>15.00 лв.</span> / месец</b></td>
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-mini fbold" style="font-size: 130%; color:red;"><b>18.00 лв.</span> / месец</b></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table" cellspacing="1">
				<tbody>
				<tr class="itemCell">
				<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">Пакет СТАНДАРТ</span></td>
				<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">СТАНДАРТ ЛАЙТ</span></td>
				<td class="planCell plan-background plan-background-standard fbold" style="width: 125px;"><span style="font-size: 130%; color: green; text-shadow: 1px 1px 1px gray;">СТАНДАРТ БОНУС+</span></td>
				</tr>
				<tr class="itemCell">
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;">Скорост <span class="plan-standard fbold" style="font-size: 130%;">60 Mbit/s</span> <br><br> Безлимитен трафик</td>
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;"><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга             <br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада</td>
				<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;"><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi"></em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга             <br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада                          <br><br> <span class="plan-standard fbold"> + 2 безплатни месеца*                 <br> + бонус точки** </span></td>
				</tr>
				<tr class="itemCell">
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>30.00 лв.</span> / месец</b></td>
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>20.00 лв.</span> / месец</b></td>
				<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-standard fbold" style="font-size: 130%; color:green;"><b>24.00 лв.</span> / месец</b></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

<!-- table 3 start -->

<table class="table" cellspacing="1">
	<tbody>
		<tr class="itemCell">
		<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">Пакет УЛТРА</span></td>
		<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">УЛТРА ЛАЙТ</span></td>
		<td class="planCell plan-background plan-background-ultra fbold" style="width: 125px;"><span style="font-size: 130%; color: blue; text-shadow: 1px 1px 1px gray;">УЛТРА БОНУС+</span></td>
		</tr>
		<tr class="itemCell">
		<td class="listCell" style="font-size: 100%; max-width: 120px !important; vertical-align: top;">Скорост <span class="plan-ultra fbold" style="font-size: 130%;">100 Mbit/s</span> <br><br> Безлимитен трафик</td>
		<td class="listCell" style="font-size: 100%; max-width: 120px !important; text-align: left; vertical-align: top;"><em class="fas fa-fw fa-file-alt"></em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi"></em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга             <br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада</td>
		<td class="listCell" style="font-size: 100%; max-width: 120px !important; text-align: left; vertical-align: top;"><em class="fas fa-fw fa-file-alt"></em> Договор за 1 година                          <br><br> <em class="fas fa-fw fa-wifi"></em> Безжичен рутер***                          <br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга             <br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада                          <br><br> <span class="plan-ultra fbold"> + 2 безплатни месеца*                 <br> + бонус точки** </span></td>
		</tr>
		<tr class="itemCell">
		<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>50.00 лв.</span> / месец</b></td>
		<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>33.00 лв.</span> / месец</b></td>
		<td class="listCell fbold" style="font-size: 100%; max-width: 120px !important;"><span class="plan-ultra fbold" style="font-size: 130%; color:blue;"><b>40.00 лв.</span> / месец</b></td>
		</tr>
	</tbody>
</table>
<hr class="light-100">
	<div class="container-fluid padding">
	<div class="welcome text-center">
	<br>
		<p><strong>*</strong>&nbsp;&nbsp;&nbsp;Безплатен абонамент по избор след 3-ти месец от договора + 13-ти безплатен абонамент
		<p><strong>**</strong>&nbsp;&nbsp;Бонус точките се натрупват от платените месечни такси, ползват се по избор за заплащане на месечна такса или за предметна награда
		</p><p><strong>***</strong>&nbsp;Безжичният рутер се предоставя за безвъзмездно ползване за срока на сключения договор
		</p><p><strong>Важно!</strong> При услуга с рекламирани скорости като „максимално достижими” скорости на сваляне (download) и на качване (upload), в Mbit/s:</p><p>Максимална скорост 95% от рекламираните скорости;</p><p>Обичайно налична скорост 65% от рекламираните скорости;</p><p>Минималната скорост 5% от рекламираните скорости.</p>
	</div>
	</div>
</div>
</div>

{% endblock %}