{% set active_page = "prices_internet" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Интернет - цени
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="text-center">
	<div class="col-12">
		<h1 class="display-4">Интернет - цени</h1><hr>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<tbody>
				<tr>
					<td style="width: 125px;"><span class="internet-mini">Пакет МИНИ</span></td>
					<td style="width: 125px;"><span class="internet-mini">МИНИ ЛАЙТ</span></td>
					<td style="width: 125px;"><span class="internet-mini">МИНИ БОНУС+</span></td>
				</tr>
				<tr>
					<td>Скорост <span class="mini-misc">12 Mbit/s</span><br><br>Безлимитен трафик</td>
					<td><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година<br><br><em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***<br><br><em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани БГ, фиксирани ЕС, всички номера в САЩ и Канада</td>
					<td><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година<br><br><em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***<br><br><em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани БГ, фиксирани ЕС, всички номера в САЩ и Канада<br><br><span class="mini-misc"> + 2 безплатни месеца*<br> + бонус точки** </span></td>
				</tr>
				<tr>
					<td><span class="price-mini"><b>20.00 лв.</span> / месец</b></td>
					<td><span class="price-mini"><b>15.00 лв.</span> / месец</b></td>
					<td><span class="price-mini"><b>18.00 лв.</span> / месец</b></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table">
				<tbody>
				<tr>
					<td><span class="internet-standard">Пакет СТАНДАРТ</span></td>
					<td><span class="internet-standard">СТАНДАРТ ЛАЙТ</span></td>
					<td><span class="internet-standard">СТАНДАРТ БОНУС+</span></td>
				</tr>
				<tr class="itemCell">
					<td>Скорост <span class="standart-misc">60 Mbit/s</span> <br><br> Безлимитен трафик</td>
					<td><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година<br><br><em class="fas fa-fw fa-wifi">&nbsp;</em> Безжичен рутер***<br><br> <em class="fas fa-fw fa-phone">&nbsp;</em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани<br> и мобилни БГ, фиксирани ЕС, всички<br>номера в САЩ и Канада</td>
					<td><em class="fas fa-fw fa-file-alt">&nbsp;</em> Договор за 1 година<br><br><em class="fas fa-fw fa-wifi"></em> Безжичен рутер***<br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани<br>и мобилни БГ, фиксирани ЕС, всички<br>номера в САЩ и Канада<br><br> <span class="standart-misc"> + 2 безплатни месеца*<br> + бонус точки** </span></td>
				</tr>
				<tr class="itemCell">
					<td><span class="price-standard"><b>30.00 лв.</span> / месец</b></td>
					<td><span class="price-standard"><b>20.00 лв.</span> / месец</b></td>
					<td><span class="price-standard"><b>24.00 лв.</span> / месец</b></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

<!-- table 3 start -->

<table class="table" cellspacing="1">
	<tbody>
		<tr class="">
			<td class="internet-ultra"><span>Пакет УЛТРА</span></td>
			<td class="internet-ultra"><span>УЛТРА ЛАЙТ</span></td>
			<td class="internet-ultra"><span>УЛТРА БОНУС+</span></td>
		</tr>
		<tr class="">
			<td class="">Скорост <span class="ultra-misc">100 Mbit/s</span> <br><br> Безлимитен трафик</td>
			<td class=""><em class="fas fa-fw fa-file-alt"></em> Договор за 1 година<br><br> <em class="fas fa-fw fa-wifi"></em> Безжичен рутер***<br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада</td>
			<td class=""><em class="fas fa-fw fa-file-alt"></em> Договор за 1 година<br><br> <em class="fas fa-fw fa-wifi"></em> Безжичен рутер***<br><br> <em class="fas fa-fw fa-phone"></em> Телефонна услуга<br><br> вкл. 100 минути към фиксирани и мобилни БГ, фиксирани ЕС, всички номера в САЩ и Канада<br><br> <span class="ultra-misc"> + 2 безплатни месеца*<br> + бонус точки**</span></td>
		</tr>
		<tr class="">
			<td><span class="price-ultra"><b>50.00 лв.</span> / месец</b></td>
			<td><span class="price-ultra"><b>33.00 лв.</span> / месец</b></td>
			<td><span class="price-ultra"><b>40.00 лв.</span> / месец</b></td>
		</tr>
	</tbody>
</table>

<hr class="light-100">
	<div class="container-fluid padding">
	<div class="welcome text-center">
	<br>
		<p><strong>*</strong>&nbsp;&nbsp;&nbsp;Безплатен абонамент по избор след 3-ти месец от договора + 13-ти безплатен абонамент
		<p><strong>**</strong>&nbsp;&nbsp;Бонус точките се натрупват от платените месечни такси, ползват се по избор за заплащане на месечна такса или за предметна награда
		</p><p><strong>***</strong>&nbsp;Безжичният рутер се предоставя за безвъзмездно ползване за срока на сключения договор
		</p><p><strong>Важно!</strong> При услуга с рекламирани скорости като „максимално достижими” скорости на сваляне (download) и на качване (upload), в Mbit/s:</p><p>Максимална скорост 95% от рекламираните скорости;</p><p>Обичайно налична скорост 65% от рекламираните скорости;</p><p>Минималната скорост 5% от рекламираните скорости.</p>
	</div>
	</div>
</div>
</div>

{% endblock %}