{% set active_page = "prices_telephony" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Телефония - цени
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-12">
		<h1 class="display-4">Телефония - цени</h1><hr>
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
		Вече може да запазите Вашият фиксиран номер (например 0723 61234) и да използвате телефонната услуга на Атлантис Нет, с което ще <b>спестите до 70%</b>.
		</p><p>
		За целта, просто трябва да посетите Атлантис Центровете в Ботевград, Правец или Етрополе и да изберете някоя от пакетните услуги <b>Интернет и Телефон</b>, която най-добре отговаря на Вашите потребности. Без да губите излишно време и нерви, ние ще поемем процедурата по пренасянето на номера Ви в мрежата на Атлантис Нет, като това ще е <b>НАПЪЛНО БЕЗПЛАТНО</b> за Вас!
		</p>
		<br>
		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th><span class="plan-mini"><b>Home Basic</b></span><br><b>цена без ДДС</b></th>
				<th><span class="plan-standard"><b>Home Extra</b></span><br><b>цена без ДДС</b></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><span><b>инсталационна такса</b></span></td>
				<td>10 лв.</td>
				<td>10 лв.</td>
			</tr>
			<tr>
				<td><span><b>включени минути</b></span></td>
				<td><p>100<br>- фиксирани БГ<br>- всички мрежи в САЩ и Канада<br>- вече и към всички <strong>фиксирани</strong> в ЕС</p></td>
				<td><p>100<br>- фиксирани БГ и ЕС<br>- всички мрежи в САЩ и Канада<br>- вече и към всички <strong>мобилни</strong> в БГ</p></td>
			</tr>
			<tr>
				<td><span><b>месечна цена</b></span></td>
				<td>10 лв.</td>
				<td>15 лв.</td>
			</tr>
			<tr>
				<td><span><b>в мрежата на <br>Голд Телеком / Атлантис Нет</b></span></td>
				<td>0.00 лв.</td>
				<td>0.00 лв.</td>
			</tr>
			<tr>
				<td><span><b>фиксирани БГ</b></span></td>
				<td>0.045 лв.</td>
				<td>0.045 лв.</td>
			</tr>
			<tr>
				<td><span><b>мобилни БГ</b></span></td>
				<td>0.21 лв.</td>
				<td>0.21 лв.</td>
			</tr>
			<tr>
				<td><span><b>международни фиксирани ЕС</b></span></td>
				<td>0.08 лв.</td>
				<td>0.08 лв.</td>
			</tr>
			<tr>
				<td><span><b>международни мобилни ЕС</b></span></td>
				<td>0.37 лв.</td>
				<td>0.37 лв.</td>
			</tr>
			<tr>
				<td><span><b>пълна ценова листа</b></span></td>
				<td><a class="link" href="{{ url_for('static', filename='pdf/2019-voip-home-basic.pdf') }}" target="_blank">виж тук (PDF)</a></td>
				<td><a class="link" href="{{ url_for('static', filename='pdf/2019-voip-home-extra.pdf') }}" target="_blank">виж тук (PDF)</a></td>
			</tr>
			</tbody>
		</table>
		<hr class="light-100">
		<br>
		<p>
		<b>Допълнителна информация:</b></p><p>
		Всички посочени цени са в български лева. Цените за разговори са за 1 (Една) минута. Не се предоставя достъп до импулсни телефони (например–0900), както и до сателитни телефонни мрежи като Инмарсат и Иридиум.
		</p><p>
		Използвайки последните постижения в областта на Интернет технологиите <b>Атлантис Нет</b> предлага на своите абонати най-новата си услуга – фискирана интернет телефония. Услугата предоставя възможност за провеждане на телефонни разговори към всякакви мрежи и дестинации при изключително високо качество и на невероятно атрактивни цени.</p><p>
		С оглед разнообразието от пазарни нужди, на абонатите се предлагат няколко тарифни плана, насочени към различни типове комуникационно потребление. Система за таксуване е прозрачна и предоставя на клиентите ни възможност за онлайн наблюдение на сметките и трафика.
		</p><p>
		Потребителите на нашите <b>VoIP</b> услуги могат да се възползват от следните предимства:</p><p>
		• Високо качество на връзката</p><p>
		• Конкурентни цени</p><p>
		• Прецизно отчитане време на разговор</p><p>
		• Всички стандартни гласови услуги, включително и ползване на факс</p><p>
		• Мониторинг на качеството на услугата и сметката в реално време.</p><p>
		• Денонощна техническа поддръжка
		</p><p>
		<b>За кого е?</b></p><p>
		Услугата е предназначена за всички потребители на <b>Атлантис Нет</b>. Дава се възможност за провеждане на градски, междуградски, международни и мобилни разговори. Потребителите на фиксираната гласова услуга от <b>Атлантис Нет</b> получават телефонни номера от номерационния план за град Ботевград (0723 93ХХХ и 0723 91XXX) <b>и спестяват до 70% от телефонните си разходи.</b>
		</p><p><b>
		Как работи?</b></p><p>
		За да ползвате телефонните услуги на <b>Атлантис Нет</b> е необходимо да имате активен интернет абонамент и обикновен телефонен апарат с тонално набиране. Ние предоставяме и инсталираме малко телеком устройство, необходимо за работата на услугата ( т.нар. VoIP gateway ).
		</p><p><b>
		За повече информация</b></p><p>
		За да улесни потребителите при избора на подходяща телефонна услуга, <b>Атлантис Нет</b> поддържа висококвалифициран екип от консултанти, с които може да се свържете на телефони <b>0723/93300</b>, <b>93311</b>, <b>93322</b>, <b>93333</b> и <b>0888/001177</b>
		</p>

		</div>
	</div>
</div>
</div>

{% endblock %}