{% set active_page = "promotions_bonus_points" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Промоции и бонус точки
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Винаги в бонус с Атлантис Нет</h1><hr>
		<br><img class="image" src="{{ url_for('static', filename='img/s4_vinagi-v-bonus.jpg') }}">
	</div>
	<div class="row">
	<div class="col-12">
	<div class="text">
		<p>
			От <b>25.05.2010</b>
		</p>
		<p>
			Условия на промоцията
		</p><p>
			<b>1. Същност на промоцията</b>
		</p><p>
			Считано от 22 май 2010 г., клиентите на Атлантис Нет получават 1 бонус точка за всеки заплатен лев за Интернет абонаментите си. Точките се натрупват във виртуална сметка и могат да бъдат изразходвани за заплащане на Интернет абонаменти или стоки и услуги в Атлантис Център. Стойността на една бонус точка е 10 стотинки.
		</p><p>
			<b>2. Кой може да се възползва?</b>
		</p><p>
			Всички абонати на Атлантис Нет ООД.
		</p><p> 
			<b>3. До кога в валидна промоцията?</b>
		</p><p>
			Промоцията е безсрочна.
		</p><p>
			<b>4. В кои населени места се предлага?</b>
		</p><p>
			Промоционалните условия са валидни в: Ботевград, Правец, Етрополе, Врачеш, Трудовец, Скравена, Новачене, Литаково.
		</p><p>
			<b>5. Как да се възползвам от промоцията?</b>
		</p><p>
			Всеки клиент автоматично получава бонус точки при плащане на абонаментните си такси. Справка за броя на генерираните до момента точки може да се направи по всяко време на уеб адрес: <a href="https://support.botevgrad.bg/">https://support.botevgrad.bg</a> като се въведе потребителското име и парола.
		</p><p>
			Генерираните до момента точки могат да се използват за заплащане на Интернет абонамент като единственото условие е, таксата да бъде заплатена изцяло с точки (пр. за заплащане на абонамент от 20 лв. трябва да разполагате с минимум 200 точки).
		</p><p>
			Може да се информирате допълнително и на телефони:
		</p><p>
			<b>0700 45333</b> – национален номер
		</p><p>
			<b>0888 00 11 77</b> – Мтел/A1 и <b>0899 00 11 77</b> - Теленор/Глобул
		</p><p>
			<b>0723 93300</b>, <b>93311</b>, <b>93322</b>, <b>93333</b>
		</p><p>
			Всички обявени цени са с начислен ДДС.
		</p>
	<br>
	<div class="col-12">
		<h1 class="display-4">Бонус точки</h1>
		<hr>
		<br>
	</div>
		<p>
			Показаните продукти могат да бъдат получени срещу натрупаните от Вас бонус точки.
		</p><p>
			За да проверите колко точки имате, влезте в акаунта си на адрес</p>
		<p>
			<a href="https://support.atlantisnet.bg/">support.atlantisnet.bg <img src="{{ url_for('static', filename='img/arrow_more.gif') }}" alt="arrow_more"></a>
		</p>
		<p>
			Продуктите може да заявите и получите от най-близката до Вас каса.
		</p>
		<br>
		<hr>
		<p>
			<b>Карта памет MicroSD 64GB с USB MicroSD четец</b>
		</p><p>
			Точки: 380
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/no_image.gif') }}">
		<br>
		</p>
		<hr>
		<p>
			<b>Клавиатура HP Compaq</b>
		</p><p>
			Точки: 200
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/74.jpg') }}"><br>
		</p><hr><p>
			<b>Оптична мишка Logitech</b>
		</p><p>
			USB свързаност, 3 бутона, 800dpi
		</p><p>
			Точки: 180
		</p>
		<p>
			<img class="prizes" src="{{ url_for('static', filename='img/73.jpg') }}"><br>
		</p>
		<hr>
		<p>
			<b>Мултимедийни колонки 2.1</b>
		</p><p>
		Bluetooth функционалност, вградени FM радио и USB/SD порт. Мощност 38W RMS.
		</p><p>
			Точки: 990</p>
		<p>
			<img class="prizes" src="{{ url_for('static', filename='img/69.jpg') }}"><br>
		</p><hr><p>
			<b>USB flash Памет 32GB</b>
		</p><p>
			Преносима USB flash памет 32GB USB 2.0
		</p><p>
			Точки: 490
		</p><p>
		<img class="prizes" src="{{ url_for('static', filename='img/59.jpg') }}"><br>
		</p><hr><p>
			<b>USB Flash 16GB</b>
		</p><p>
			Преносима USB flash памет, 16GB USB 2.0
		</p><p>
			Точки: 300
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/54.jpg') }}"><br>
		</p><hr><p>
			<b>Комплект безжична клавиатура и мишка HP</b>
		</p><p>
			Точки: 650
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/no_image.gif') }}"><br>
		</p><hr><p>
			<b>Мултимедийни слушалки</b>
		</p><p>
			Слушалки с микрофон, честотен диапазон 20Hz-20kHz
		</p><p>
			Точки: 250
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/51.jpg') }}"><br>
		</p><hr><p>
			<b>Мултимедийна клавиатура Genius</b>
		</p><p>
			Мултимедийна, водоустойчива клавиатура, с ергономичен и тънък дизайн. Интерфейс PS/2.
		</p><p>
			Точки: 370
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/45.jpg') }}"><br>
		</p><hr><p>
			<b>Геймпад</b>
		</p><p>
			8 бутони, турбо функция. USB интерфейс.
		</p><p>
			Точки: 300
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/44.jpg') }}"><br>
		</p><hr><p>
			<b>Безжична мишка</b>
		</p><p>
			Безжична технология RF 2.4GHz, 1000 dpi, мини USB приемник.
		</p><p>
			Точки: 300
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/30.jpg') }}"><br>
		</p><hr><p>
			<b>Мултимедийни тонколонки 2.0</b>
		</p><p>
			Мощност 1W, с бутон за регулиране силата на звука.
		</p><p>
			Точки: 150
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/28.jpg') }}"><br>
		</p><hr><p>
			<b>Мултимедийни USB колонки 2.0</b>
		</p><p>
			Точки: 300
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/16.jpg') }}"><br>
		</p><hr><p>
			<b>Мултимедиен Кит Canyon уеб камера + Слушалки</b>
		</p><p>
			Чат пакет, включващ 1.3Mpixel уебкамерка с двуслойна стъклена леща, високочувствителен микрофон и стерео слушалки.
		</p><p>
			Точки: 390
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/11.jpg') }}"><br>
		</p><hr><p>
			<b>Слушалки с микрофон Canyon</b>
		</p><p>
			Стерео слушалки с микрофон, 3.5mm аудио жак.
		</p><p>
			Точки: 120
		</p><p>
			<img class="prizes" src="{{ url_for('static', filename='img/8.jpg') }}"><br>
		</p><hr>
	</div>
	</div>
	</div>
</div>
</div>
</div>

{% endblock %}