{% set active_page = "software_support" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Софтуерна поддръжка и осигуряване
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Софтуерна поддръжка и осигуряване</h1>
		<hr><br>
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_prod1.png') }}"><br>
		<img class="image margin-bottom margin-lr" id="software-support" src="{{ url_for('static', filename='img/Software-Support-and-Maintenance.jpg') }}">
	</div>
	<div class="col-12">
		<div class="text">
		<br>
		<p>
			Занимаваме се и със софтуерна поддръжка и осигуряване.
		</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}