{% set active_page = "subscription_check" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Проверка на абонамент
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Повече информация за Вашият абонамент</h1>
		<hr>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<h2>
				За регион Ботевград:
			</h2>
			<br>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="career">
				<h4 class="orange">
					Проверка на интернет абонамент
				</h4>
				<a href="https://support.atlantisnet.bg/">
				<img class="sub-check w-85" src="{{ url_for('static', filename='img/world-icon.png') }}"></a>
			</div>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="career">
				<h4>	 
					Проверка на телефонен абонамент
				</h4>
				<br>
				<a href="https://my.atlantisnet.bg/">
				<img class="sub-check w-65" src="{{ url_for('static', filename='img/phone_PNG49046.png') }}"></a>
			</div>
		</div>

		<div></div>

		<div class="col-12 text-center">
			<br>
			<h2>За регион Плевен:</h2>
			<br>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="career">
				<h4 class="orange">	
					Проверка на интернет абонамент
				</h4>
				<a href="https://spravki.atlantisnet.bg/">
				<img class="sub-check w-85" src="{{ url_for('static', filename='img/world-icon.png') }}"></a>
			</div>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="career">
				<h4>		 
					Проверка на телефонен абонамент
				</h4>
				<br>
				<a href="https://my.atlantisnet.bg/">
				<img class="sub-check w-65" src="{{ url_for('static', filename='img/phone_PNG49046.png') }}"></a>
			</div>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}