{% set active_page = "web_design" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Уеб дизайн
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Уеб дизайн</h1><hr>
		<br><img style="width: 50%; height: 50%;" class="people" src="{{ url_for('static', filename='img/Webdesign.jpg') }}">
	</div>
	<div class="col-12">
		<div class="career">
		<p>	
		Занимаваме се и с уеб дизайн.
		</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}