{% set active_page = "wireless_connectivity" %}

{% extends "layout.html" %}
{% block title %}
    Atlantis Net :: Безжичен достъп
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Безжичен достъп</h1>
		<hr><br>
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_cell_4.png') }}">
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_cell_1.png') }}">
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_cell_3.png') }}">
		<img class="image margin-bottom margin-lr" src="{{ url_for('static', filename='img/s4_cell_2.png') }}">
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
		Атлантис Нет предлага високоскоростен безжичен достъп на своите клиенти още от далечната 2000 г. В момента имаме безжично покритие практически във всички населени места, където предоставяме Интернет услуги.
		</p><p>
		Основното предимство на безжичната свързаност е, че преносната среда е практически напълно безплатна, като освен това е възможна „мобилност” на услугата (например може да смените дома си, и всичко, което трябва да направите на новото място е да включите безжичното устройство и да насочите антената към точката за достъп). Безжичните решения са едно изключително ценово ефективно решение, което позволява бърза и лесна връзка към Интернет, позволяваща пренос на данни и глас, както и изграждане на виртуални частни мрежи между различните офиси на клиента. Известен недостатък е изискването за наличие на пряка видимост между антените.
		</p><p>
		Атлантис Нет изгражда безжичната си мрежа на основата на Wi-Fi стандартите (802.11a, 802.11b, 802.11g). Нашите точки за достъп (access points) са продукти на реномирани световни производители като Proxim, Cisco, Nortel Networks, SMC, Linksys, Alvarion (BreezeCom), Micronet, Atheros, Ubiquity и други, които наред с високата си надеждност и производителност, осигуряват и съвместимост с почти всички клиентски устройства, които могат да се намерят на нашия пазар, което ни позволява да предлагаме изключително ниски такси за изграждане на безжична връзка.
		</p><p>
		Крайните клиентски устройства са съвместими със индустриалните стандарти и предлагат високоскоростен безжичен достъп. Работят на честота 2.4 GHz или 5 GHz, които са свободни и нямат нужда от лиценз за използване. Посредством използването на WEP (Wired Equivalent Privacy) с 128-bit ключ за криптиране се осигурява високо ниво на защитеност на канала. Съвместими са с: Windows 98, Me, NT, 2000, XP, Vista, 7, Linux и т.н.
		</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}